* {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

body {
	background: #fff;
	font-family: Helvetica, sans-serif;
	min-width: 400px;
}

section, header, footer {
	width: 100%;
	float: left;
	background: white;
	border: 2px solid #000000;
	box-sizing: border-box;
}

header {
	background: #eee;
	margin: 2px 0px;
	padding: 4px 0px;
	font-size: 1.2em;
}

header li{
	background: white;
}

nav a{
	padding: 10px 0;
	text-decoration: none;
	display: block;
	border: 2px solid #000;
	color:#000;
}

article {
	margin: 20px;
}

article .picture {
	padding: 5px 15px;
}

article  .left-side {
	float: left;
}

article  .right-side {
	float: right;
}

article h2 {
	font-weight: normal;
	text-align: center;
}

.flex li{
	float: left;
	width: 25%;
	text-align: center;
}

#faq dd{
	padding: 0 0 0 30px;
}

#contacts{
	padding-bottom: 30px;
}

#contacts p{
	font-weight: bold;
	padding: 15px;
}

#contacts .icon{
	margin-right: 4px;
	float: left;
}

#register p{
	text-align: center;
	padding: 15px;
}

form p span{
	padding-right: 3em;
}

form p input{
	border: 2px solid;
}

footer{
	background:  #cccccc; 
	margin-bottom: 16px;
}

footer .nav{
	float:left;
	width: 50%;
	padding: 20px 0px 20px 20px;
	background: rgb(68,68,68);
	border-right: 2px solid;
}

footer li {
	padding: 5px;
}
footer li a{
	color: red;
}

footer .feedback {
	margin-top: 10px;
}

footer .feedback * {
	float: left;
}

footer .feedback p,
footer .feedback ul{	
	padding-left: 20px;
}

footer .feedback p:last-of-type {
	margin-top: 5px;
}
footer div:last-of-type{
	display: block;
	background-color: #fff;
	clear: both;
	text-align: center;
	padding: 8px 0;
}
footer .feedback button{
	height: 25px;
	width: 75px;
	border: 2px solid;
	border-radius: 6px;
}

.feedback li{
		line-height: 12px;
}

@media screen and (min-width: 960px) {
  body {
    max-width: 960px;
	background: rgb(212,227,252);
    margin: 0 auto;
  }
  footer .nav {
	padding-left: 0px;
  }
  footer .nav li {
	float: left;
	padding: 0px;
	width: 25%;
	text-align: center;
	border-right: 2px solid;
  }
  footer .nav li:first-of-type{
	width : 23%;
  }
  footer .nav li:last-of-type{
	border-right: 0px;
  }
}

@media screen and (max-width: 595px) {
	#about{
		max-height: 340px;
	}
	.flex li, .flex{
		width: 100%!important;
	}
	.screen-only{
		display: none;
	}
	.picture{
		padding: 10px 0px;
	}
	.map {
		float: none;
	}
	.map img{
		max-height: 200px;
		width: 100%;
	}
	.feedback  *{
		float: none;
		font-weight: bold;
	}
	.feedback ul{
		float: left;
	}
	.feedback ul li{
		width: 100%!important;
	}
	.feedback button{
		height: 80px!important;
		width: 200px!important;
		margin: 5px 0 0 0!important;;
		float: left;
		font-size: 2.5em;
		font-weight: normal;
	}
	#stay-in-touch{
		display: none;
	}
}